.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 60px;
    background:#f5f7fb;
}

.hero-left{
    width:55%;
}

.badge{
    background:#dbeafe;
    color:#0B3D91;
    padding:8px 16px;
    border-radius:20px;
    font-weight:bold;
}

.hero-left h1{
    font-size:55px;
    color:#0B3D91;
    margin:25px 0;
}

.hero-left p{
    font-size:20px;
    color:#555;
    line-height:1.8;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.primary-btn{
    background:#0B3D91;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.primary-btn:hover{
    background:#072d73;
}

.secondary-btn{
    background:white;
    color:#0B3D91;
    border:2px solid #0B3D91;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.secondary-btn:hover{
    background:#0B3D91;
    color:white;
}

.hero-right img{
    width:420px;
}